* {
  padding: 0%;
  margin: 0%;
}

main {
  font-family: uppercase;
}

main .titre1 {
  color: black;
  position: absolute;
  text-align: center;
  font-size: 100px;
  margin-top: 15%;
  margin-left: 30%;
  padding: 5% 10% 5% 10%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
}

main .but-start {
  font-size: 20px;
  text-decoration: none;
  background-color: #64a19d;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

main .but-start:hover {
  background-color: white;
  color: #64a19d;
  border: 1px solid #64a19d;
}

main img {
  width: 100%;
}

.About {
  font-size: 30PX;
  width: 90%;
  margin-left: 5%;
  margin-top: 65%;
  background-color: white;
  position: absolute;
  text-align: center;
  -webkit-box-shadow: 1px 5px 5px black;
          box-shadow: 1px 5px 5px black;
}

.img3 {
  width: 40%;
}

.exampl {
  margin-top: 5%;
  width: 100%;
}

.exp2 {
  margin-top: 2%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.exp2 p {
  margin-top: 10%;
  border-left: 10px solid black;
  width: 40%;
  font-size: 30px;
  height: 20%;
}

.exp1 {
  margin-top: 2%;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.exp1 p {
  border-right: 10px solid black;
  margin-top: 10%;
  width: 40%;
  font-size: 30px;
  height: 20%;
}

.contact {
  margin-top: 4%;
  text-align: center;
}

.contact input {
  width: 40%;
  margin-bottom: 1%;
  height: 30px;
}

.contact textarea {
  width: 40%;
}

.contact .but {
  background-color: #64a19d;
  border: none;
  color: white;
}

footer {
  background-color: black;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  main .titre1 {
    margin-left: 25%;
    font-size: 100%;
  }
  main .but-start {
    font-size: 10px;
  }
  main .About {
    font-size: 15PX;
  }
  main .exampl {
    margin-top: 25%;
    text-align: left;
  }
  main .exampl .img3 {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .exampl .exp1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .exampl .exp1 p {
    border: none;
    width: 90%;
  }
  main .exampl .exp2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .exampl .exp2 p {
    border: none;
    width: 90%;
  }
  .contact {
    margin-top: 4%;
    text-align: center;
    width: 100%;
  }
  .contact input {
    width: 60%;
  }
  .contact textarea {
    width: 60%;
  }
}

.a {
  margin-top: 5%;
  background-color: #64a19d;
  padding: 10%;
  border-radius: 4px;
}
/*# sourceMappingURL=index.css.map */